#!/bin/bash
##
# See: https://cli.github.com/manual/gh_help_environment
export GH_REPO="kquinsland/tools"

# Allows for higher rate limits when mise or pinact are working...
GH_TOKEN="$(gh auth token)"
export GH_TOKEN
