---
name: Deploy to GitHub Pages

on:
    push:
        # Merge to pages branch triggers deployments
        branches:
            - pages
    # Or allow manual trigger for testing and break-glass
    workflow_dispatch:

# In the even that I screw something up, kill all but the latest deployment
concurrency:
    group: pages
    cancel-in-progress: true

# Start with no permissions, then allow per job/action
permissions: {}

# Default to bash
defaults:
    run:
        shell: bash

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            # If any tool files have changed or are new, there will be an update to the data file and a commit/push
            contents: write

        steps:
            - name: Checkout
              id: checkout
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  persist-credentials: true
                  fetch-depth: 0
                  # Fetch Hugo theme
                  submodules: recursive

            # Pre-requisites: Hugo binary and Python
            - name: Setup Hugo
              id: setup_hugo
              # See: https://github.com/peaceiris/actions-hugo
              uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # 3.0.0
              with:
                  # See: https://github.com/gohugoio/hugo/releases
                  ##
                  # renovate: datasource=github-tags depName=gohugoio/hugo versioning=semver
                  hugo-version: "0.153.1"
                  # Most themes require extended version for SCSS/SASS support
                  extended: true

            - name: Install uv
              id: setup_uv
              uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
              with:
                  enable-cache: true
                  ignore-nothing-to-cache: true

            # As long as the page bundle is correct, hugo should just pick up the new tool and the like.
            # To update the landing page, though, we need to regenerate the data file.
            - name: Build data/tools.yaml
              id: build_data_tools_yaml
              run: |
                  uv run ci/build_tools_data.py

            - name: Find modified tools entries
              id: tools_data_changed
              run: |
                  if git diff --quiet HEAD -- data/tools.yaml; then
                    echo "changes=" >> $GITHUB_OUTPUT
                  else
                    CHANGES=$(uv run ci/detect_tools_changes.py)
                    if [ -z "$CHANGES" ]; then
                      CHANGES="data/tools.yaml updated"
                    fi
                    echo "changes=$CHANGES" >> $GITHUB_OUTPUT
                  fi

            - name: Commit and push if tools data changed
              id: commit_tools_data_changes
              if: steps.tools_data_changed.outputs.changes != ''
              env:
                  CHANGES: ${{ steps.tools_data_changed.outputs.changes }}
              run: |-
                  git config user.name "Automated"
                  git config user.email "actions@users.noreply.github.com"
                  git add data/tools.yaml
                  git commit -m "Updated tools.yaml: ${CHANGES}" || exit 0
                  git push

            # Then use the updated tool data file to render out a new everything
            - name: Build site
              id: build_site
              run: hugo --minify

            # As far as I can tell, if you don't use the "legacy" pattern of pointing to a particular folder/branch, you must use the "official" actions
            ##
            # Unclear is this particular action is needed for hugo, it seems to just have support for nuxt, next, gatsby, and sveltekit built sites
            # It also attempts to enable pages if it's not already .... which isn't required for me / my use
            ##
            # TODO: once things are working, remove this and see if things still work
            - name: Setup Pages
              id: setup_pages
              uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

            # Take what hugo built and zip tar it up as an artifact and then consider this job done
            ##
            - name: Upload artifact
              id: upload_pages_artifact
              uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
              with:
                  # Hugo puts everything in public by default so that's what we need to bundle up
                  path: "./public"

    # It's a bit circuitous to have a separate job for this, but this is the "recommended" way per the docs.
    # A nice byproduct is that the artifact makes it easy to debug / inspect in-between the build and deploy steps should the need arise.
    deploy:
        # Add a dependency to the build job
        needs: build

        permissions:
            # to deploy to Pages
            pages: write
            # to verify the deployment originates from an appropriate source
            id-token: write

        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        # One step and it can be done in any order :)
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
